---
import { db } from "../db/schema"

const data = await db.selectFrom("Post").selectAll().execute()
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="w-full h-full bg-slate-900 text-white">
    <h1>Astro</h1>
    <p>Posts</p>
    <ul>
      {
        data.map((post) => (
          <>
            <li>User: {post.username}</li>
            <li>Post: {post.text}</li>
          </>
        ))
      }
    </ul>
  </body>
</html>
